<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Patient</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/patients/edit.css">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

    <div id="main-container">
        <h1 id="title">Editing Patient (<%= patient.name %>)</h1>
   
        <form id="edit-patient-form" action="/patients/<%= patient._id%>?_method=PUT" method="POST">

            <label for="name">Name:</label>
            <input type="text" name="name" required value="<%= patient.name %>">
    
            <label for="age">Age:</label>
            <input type="number" name="age" id="age" required min="0" max="99" value="<%= patient.age %>">
    
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required value="<%= patient.email %>">
    
            <label for="phone">Phone:</label>
            <input type="text" name="phone" id="phone" required minlength="8" maxlength="8" value="<%= patient.phone %>">
    
            <button type="submit">Update Patient </button>
        </form>
    </div>
</body>
</html>